<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="places/tabs/discover">
      <ion-icon name="search-outline"></ion-icon>
      Explora
    </ion-tab-button>
    <ion-tab-button tab="booking">
      <ion-icon src="../../assets/places.svg"></ion-icon>
      Viajes
    </ion-tab-button>
    <ion-tab-button tab="places/tabs/offers">
      <ion-icon name="bed-outline"></ion-icon>
      Ofertas
    </ion-tab-button>
    <ion-tab-button tab="auth">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
