ion-searchbar {
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    --border-radius: 30px;
    --placeholder-opacity: 1;
}

ion-item-divider {
    min-height: 2%;
}

ion-item{
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 5%;
    --lines: none;
}

p {
    color: black;
}

ion-list {
    list-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Habilita el scroll suave en iOS */
}

ion-img::part(image) {
    border-radius: 5%;
  }