ion-searchbar {
    width: 90%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    --border-radius: 30px;
    --placeholder-opacity: 1;
}

ion-item-divider {
    min-height: 2%;
}

ion-item{
    padding-left: 3%;
    padding-right: 3%;
}

p {
    color: black;
}

ion-list {
    list-style: none;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; /* Habilita el scroll suave en iOS */
}

ion-img::part(image) {
    border-radius: 5%;
  }

  swiper-container {
    width: 100%;
    height: 100%;
    --swiper-pagination-color: white;
    --swiper-pagination-bullet-inactive-opacity: 0.5;
    --swiper-pagination-bullet-inactive-color: gainsboro;
  }
  