<ion-content [fullscreen]="true">
  <ion-searchbar shape="round" placeholder="Cualquier lugar"></ion-searchbar>
  <ion-item-divider></ion-item-divider>
  <ion-list>

    <div>
      <ion-item lines="none">
        <swiper-container pagination="true">
          <swiper-slide>
            <ion-img src="https://a0.muscache.com/im/pictures/43a44c04-8eb5-4cd3-a930-397d7276d03c.jpg?im_w=720"></ion-img>
          </swiper-slide>
          <swiper-slide>
            <ion-img src="https://a0.muscache.com/im/pictures/43a44c04-8eb5-4cd3-a930-397d7276d03c.jpg?im_w=720"></ion-img>
          </swiper-slide>
        </swiper-container>
      </ion-item>
      <ion-item lines="none" style="margin-bottom: 5%;">
        <ion-label>
          <p><strong>Anguciana, España</strong></p>
          <p>Anfitrión: Carlos</p>
          <p><strong>185 €</strong> noche</p>
        </ion-label>
      </ion-item>
    </div>

    <div>
      <ion-item lines="none">
        <swiper-container pagination="true">
          <swiper-slide>
            <ion-img src="https://a0.muscache.com/im/pictures/43a44c04-8eb5-4cd3-a930-397d7276d03c.jpg?im_w=720"></ion-img>
          </swiper-slide>
          <swiper-slide>
            <ion-img src="https://a0.muscache.com/im/pictures/43a44c04-8eb5-4cd3-a930-397d7276d03c.jpg?im_w=720"></ion-img>
          </swiper-slide>
        </swiper-container>
      </ion-item>
      <ion-item lines="none" style="margin-bottom: 5%;">
        <ion-label>
          <p><strong>Anguciana, España</strong></p>
          <p>Anfitrión: Carlos</p>
          <p><strong>185 €</strong> noche</p>
        </ion-label>
      </ion-item>
    </div>
    
  </ion-list>
</ion-content>
